01.Pangenome_analysis_full/prokka/
02.Pangenome_analysis_20samples/Prokka_data/
03.CRISPR-Cas_system_analysis/CasFinder_tools/
03.CRISPR-Cas_system_analysis/macsyfinder/
04.GenomeIsland_analysis/GenomicIslandPrediction/
04.GenomeIsland_analysis/GI*
